$color-primary: #55c57a;
$color-primary-light: #13ff14;
$color-primary-dark:#006400;

$color-grey: #808080;
$color-white: #ffffff;
$color-black: #000000;

$color-grey-light: #f7f7f7;

$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


