.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom, 
    rgba($color-primary-light, 0.749), 
    rgba($color-primary-dark, 0.749) ), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    
    @include respond(phone){
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

    &__logo{
        height: 5rem;

        &-box{
            position: absolute;
            top: 4rem;
            left: 4rem;
        }
    }
    &__text-box{
    
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50% , -50%);
        text-align: center;
    }
}
