.feature-box{

    background-color: rgba(255, 255, 255, 0.856);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    //box-shadow: 0 1.5rem 4rem rgba(0 ,0 ,0,.15) ;
    transition: transform .3sec;
    

    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, rgba(19, 255, 19, 0.671), rgba(0, 100, 0, 0.678));
        -webkit-background-clip: text;
        color: transparent;

        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }

    &:hover{
        transform: translateY(-1.5rem) scale(1.03);
        
    }

    
}

