.form{

    &__group:not(:last-child) {
        margin-bottom: 2rem;

    }

    

    &__input{
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 70%;
        display: block;

        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.11);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid{
            border-bottom: 3px solid orangered;

        }

        &::-webkit-input-placeholder{
            color: rgb(129, 129, 129);
            
        }

    }
    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group{
        width: 49%;
        display: inline-block;
        
        

    }

    &__radio-input{
        display: none;
    }

    &__radio-label{
        font-size: 1.6rem;
        font-weight: 400;
        cursor: pointer;
        position: relative;
        padding-left: 1rem;
        top: -.1rem;


    }

    &__radio-button{

        height: 2rem;
        width: 2rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: -2.775rem;
        top: -.5rem;

        &::after{
            content: "";
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0; 
            transition: opacity .2s;
        }

    }
&__radio-input:checked ~ &__radio-label &__radio-button::after{
    opacity: 1;


}

   

}