.popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.651);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;

    &__content{
        width: 75%;
        background-color: white;
        height: 50rem;
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.2);
        border-radius: 3px;
        overflow: hidden;
        display: table;
        opacity: 0;
        transition: all .4s;
        
    }

    &__left{
        width: 33.333333%;
       display: table-cell;
    }

    &__right{
        width:66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 2rem 5rem;
 
    }

    &__img{
        display: block;
        width: 100%;

    }

    &__text{
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -webkit-column-count: 2;
        -webkit-column-gap: 4rem;
        -webkit-column-rule: 1px solid #eee;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid #eee;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;

        hyphens: auto;
    }

    
    &:target{
        opacity: 1;
        visibility: visible;
    }

    &:target &__content{
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    &__close{
        &:link,
        &:visited{
            color: #777;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            font-weight: 400;
            text-decoration: none;
            display: inline-block;
        }

        &:hover{
            color: $color-primary;
        }

    }
}