body{
    font-family: Lato, sans-serif;
    font-weight: 100;
    font-size: 1.6rem;
    line-height: 1.7;
    color: grey;
      
}

.heading-primary{

    color: white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;


    &--main{
        display: block; 
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include respond(phone) {
            letter-spacing: .5rem;
        }

    }
    
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 10rem;
        letter-spacing: 1.7rem;
    
        animation: moveInRight 1s ease-out;
    }
    

}

.heading-secondary{
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, rgba(19, 255, 19, 0.671), rgba(0, 100, 0, 0.678));
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    letter-spacing: .2rem;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }




    &:hover{
        transform: skewY(1deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .2);

    }
}

    .heading-tertiary{
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
        

    }

    .paragraph{
        font-size: 1.6rem;
        font-weight: 700;

        &:not(:last-child){
            margin-bottom: 3rem;
        }

    } 

